<h1 class="food"><span>FOOD & EVENT</span></h1>

<h4> Your chosen categories</h4>
<div class="food-category">
  <h5>Food:</h5>
  <% @category.each do |cat|%>
    <span><%= cat %></span>
    <% end %>
</div>

<div class="event-category">
  <h5>Event:</h5>
  <% @event_categories.each do |category| %>
  <span><%= category.capitalize %></span>
  <% end %>
</div>

<p>
  for <%= @date.strftime('%A, %b %e %Y' ) %> </br>
</p>

<section class="plan-container">
<%= form_tag "/date_plan", method: :post do %>
  <% @new_list.each do |array| %>
    <td>
      <th>
    <div class="list-restaurant">
      <label class="radio-restaurant">
        <% restaurant = array[1] %>
        <%= radio_button_tag(:restaurant, restaurant.id) %>
        <img  class= "individual-chosen-image" src="<%=restaurant.image_url%>" height="180" width="250"/>
      </label>
      </br>
      $<%= restaurant.price %>
      </br>
  <%= link_to restaurant_path(restaurant.id) do %>
  <p class="restaurant-name">
    <%= label_tag(:restaurant, restaurant.name) %>
  </p>
  <% end %>

      </br>
      </br>
    </div>
  </th>

<th>
    <div class= "list-event">
      <label class="radio-event">
        <% event = array[0] %>
        <%= radio_button_tag(:event, event.id) %>
        <img  class= "individual-chosen-image" src="<%=event.image_url%>" height="180" width="250"/>
      </label>
      </br>
        $<%= event.price %>
      </br>

      <%= link_to event_path(event.id) do %>
        <%= label_tag(:event, event.name) %>
      <% end %>
      </br>
      </br>
    </div>

  <% end %>
</th>


  </td>
  <p>
    Your total would be approximately $<%= @price_max * @quantity %> for <%= @quantity %> person(s).
  </p>
    <input type="submit" name="commit" value="Save" />
  <%= hidden_field_tag :date, params["date"] %>
<% end %>
</section>
