<h2>
  Here is your date plan for:
  <%= @date_plan.date.strftime('%A, %b %e %Y') %>
</h2>


<%= @date_plan.restaurant.name %>
<img src="<%=@date_plan.restaurant.image_url%>" height="200" width="200"/>

<%= @date_plan.event.name %>
<img src="<%=@date_plan.event.image_url%>" height="200" width="200"/>

<%= button_to "delete", show_date_plan_url(@date_plan), method: :delete, data: {confirm: "Are you sure you want to delete your plan?"}%>
