

<!-- DATE CHOICE -->

<h1 class="make-plan"><span>MAKE A PLAN</span></h1>

<section class="make-choices">

<div class="pick-date">
  <h2>Pick a date </h2>
  <%= form_tag "/date_plan", method: :get do %>
    <p><input type="text" id="datepicker" name="date"></p>
</div>

<div id="partysize">
  <h2> How many people? </h2>
  <input type='button' value='-' class='qtyminus' field='quantity' />
  <input type='text' name='quantity' value='0' class='qty' />
  <input type='button' value='+' class='qtyplus' field='quantity' />
</div>


<!-- BUDGET CHOICE -->
<div class="budget">
  <h2> What's your budget per person? </h2>
  <p>
   <label for="amount">Max amount per person:</label> </br>
   $<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;" name= "price_max">
  </p>
  <div id="slider-range-max"></div>
</div>

<!-- CATEGORIES -->
   <div id="resta-catlist" class="dropdown-check-list" tabindex="100">
     <span class="anchor"> Select restaurant category </span>
     <ul class="categories">
      <% Category.all.each do |category| %>
        <li class="category_name">
          <%= label_tag(category.category)%>
          <%= check_box_tag("category[#{category.category}]")%>
          <% end %>
        </li>
    </ul>
  </div>

   <div id="event-catlist" class="dropdown-check-list" tabindex="100">
     <span class="anchor"> Select events category </span>
     <ul class="categories">
       <!-- added fields_for for the params to show in one hash -->
     <%= fields_for :event_category do |event_field| %>
      <% @events_category.each do |category| %>
        <li class="category_name">
          <%= event_field.label(category)%>
          <%= event_field.check_box(category)%>
          <% end %>
        </li>
        <% end %>
    </ul>
  </div>

  <div class="choice-button">
    <input type="submit" name="commit" value="Find me a date!" />
  </div>
  <% end %>
</section>
