<head>
<link href='https://fonts.googleapis.com/css?family=Barrio' rel='stylesheet'>
</head>

<p id="notice"><%= notice %></p>

<p>
  <h1 style="color:blue;font-family:Barrio;font-size:300%;"> <%= @restaurant.name %> </h1>
</p>

<p>
  <strong>Food Type:</strong>
  <%= @show_cat.first %>
</p>

<p>
  <strong>Rating:</strong>
  <% @restaurant.rating.to_i.times do  %>
   <span class="glyphicon glyphicon-star"></span>
  <% end %>
  <% @restaurant.blank_stars.times do %>
   <span class="glyphicon glyphicon-star-empty"></span>
  <% end %>
  </p>

<p>
  <strong>Price:</strong>
  <%= @restaurant.price %>
</p>


<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong><a href="<%= @restaurant.restaurant_url %>">Yelp restaurant URL</a></strong>
</p>

<p>
  <img src = '<%= @restaurant.image_url %>' width="50%" height="auto"/>
</p>

<p>
<h4><b>HOURS:</b></h4>
<% @rest_days_open.each_with_index do |name, index| %>
    <tr>
      <br>
      <td><b><%= name %></b><td>:
      <td><%= @rest_time_open[index].insert(2, ':').to_time.strftime("%I:%M %p")%></td>
      -
      <td><%= @rest_time_closed[index].insert(2, ':').to_time.strftime("%I:%M %p")%></td>
    </tr>
  <% end %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <iframe src="https://maps.google.com/maps?q=<%= @restaurant.coordinates_latitude %>,<%= @restaurant.coordinates_longitude %>&hl=en&z=14&amp;output=embed" width="90%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>



<p>
  <% @restaurant.yelp_id %>
</p>

<%= link_to "Back", :back %>
