<head>
<link href='https://fonts.googleapis.com/css?family=Barrio' rel='stylesheet'>
</head>

<p id="notice"><%= notice %></p>

<p>
  <h1 style="color:blue;font-family:Barrio;font-size:300%;"> <%= @restaurant.name %> </h1>
</p>

<p>
  <strong>Food Type:</strong>
  <%= @restaurant.categories.map {|cat| cat.category} %>
</p>

<p>
  <strong>Rating:</strong>
  <% @restaurant.rating.to_i.times do  %>
   <span class="glyphicon glyphicon-star"></span>
  <% end %>
  </p>

<p>
  <strong>Price:</strong>
  <%= @restaurant.price %>
</p>


<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <img src = '<%= @restaurant.image_url %>' width="50%" height="auto"/>
</p>


<p>
  <strong>Days Open:</strong>
  <%= @restaurant.restaurant_hours.map {|h| Date::DAYNAMES[h.day - 6]} %>
</p>

<p>
  <strong>Opening Hours:</strong>
  <%= @restaurant.restaurant_hours.map {|h| h.open} %>
</p>

<p>
  <strong>Closing Hours:</strong>
  <%= @restaurant.restaurant_hours.map {|h| h.close} %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <iframe src="https://maps.google.com/maps?q=<%= @restaurant.coordinates_latitude %>,<%= @restaurant.coordinates_longitude %>&hl=en&z=14&amp;output=embed" width="90%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>


<p>
  <strong><a href="<%= @restaurant.restaurant_url %>">Yelp restaurant URL</a></strong>
</p>


<p>
  <% @restaurant.coordinates_latitude %>
</p>

<p>
  <% @restaurant.coordinates_longitude %>
</p>


<p>
  <% @restaurant.yelp_id %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
