
<head>
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

</head>
<body>

<p id="notice"><%= notice %></p>


<table >
<tr>
  <th colspan='2'>
  <div class="resto_container">
   <img src='<%= @restaurant.image_url %>' alt="resto_image" style="width:100%;">
     <div class="bottom-left"> <%= @restaurant.name %> </h1></div>
  </div>
  <td>
</tr>
<tr>
  <td style="height:35px;"><b>Type</b></td>
  <td><%= @show_cat.first %></td>
</tr>
<tr>
  <td style="height:35px;"><b>Rating</b></td>
  <td>
    <% @restaurant.rating.to_i.times do  %>
    <span class="glyphicon glyphicon-star" style="color:#0272FF"></span>
    <% end %>
    <% @restaurant.blank_stars.times do %>
    <span class="glyphicon glyphicon-star-empty" style="color:#c9c9ff"></span>
    <% end %>
  </td>
</tr>
<tr>
  <td style="height:35px;"><b>Price</b></td>
  <td>
    <% @restaurant.price.size.times do %>
    <span class="glyphicon glyphicon-usd" style="color:#0272FF"></span>
    <% end %>
    <% @restaurant.blank_dollars.times do %>
    <span class="glyphicon glyphicon-usd" style="color:#c9c9ff"></span>
    <% end %>
  </td>
</tr>
<tr>
  <td style="height:35px;"><b>Hours</b></td>
  <td>
    <select name="my_html_select_box">
      <%= @rest_days_open.each_with_index do |name, index| %>
        <option><b><%= name %></b>&ensp;<%= @rest_time_open[index].insert(2, ':').to_time.strftime('%l:%M %P')%>&nbsp;-&nbsp;<%= @rest_time_closed[index].insert(2, ':').to_time.strftime('%l:%M %P')%></option>
      <% end %>
    </select>
  </td>
</tr>
<tr>
  <td style="height:35px;"><span class="glyphicon glyphicon-phone-alt" style="color:#0272FF"></span>&emsp;<a href="tel:<%= @restaurant.phone %>"><%= @restaurant.phone %></a></td>
  <td><span class="glyphicon glyphicon-globe" style="color:#0272FF"></span>&emsp;<a href="<%= @restaurant.restaurant_url %>">website</a></td>
</tr>
<!-- <tr>
  <td style="height:125px;"align='center'colspan='2'><button class="button button1">Add To My Plan</button></th>
</tr> -->
<tr>
  <th colspan='2'><iframe src="https://maps.google.com/maps?q=<%= @restaurant.coordinates_latitude %>,<%= @restaurant.coordinates_longitude %>&hl=en&z=14&amp;output=embed" width=100% height=280px frameborder="0" style="border:0" allowfullscreen></iframe></td>
</tr>
</table>
</div>


</body>
