<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


    <div class="login_logout">


      <div class='close'id="menuToggle">
        <div class='bar1'></div>
        <div class='bar2'></div>
        <div class='bar3'></div>
       </div>
     <span>oinker </span>
      <%= image_tag('logo.png', class:'logo')%>
     </div>



    <div id="wrapper">

   <!-- Sidebar -->
    <div id="sidebar-wrapper">
       <ul class="sidebar-nav">

         <li>
           <% if current_user %>
           <%=image_tag(current_user.picture, class:'profile_image')%>
           <p><%=current_user.first_name%> <%=current_user.last_name%></p>
             <%end%>
         </li>

           <li class="sidebar-brand">
               <a href="#">
                   Oinker
               </a>
           </li>
           <li>
               <%=link_to('Home', root_path)%>
           </li>
           <li>
               <%=link_to('Browse', welcome_trending_path)%>
           </li>
           <li>
               <%=link_to('Search', welcome_choice_path)%>
           </li>

           <%if !current_user %>
           <li>
               <%=link_to('Sign up', new_user_registration_path)%>
           </li>
           <%end%>
           <li>
               <%=link_to('About')%>
           </li>

       </ul>
   </div>
   <!-- /#sidebar-wrapper -->

   <!-- Page Content -->
   <div id="page-content-wrapper">
       <div class="container-fluid">
    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
    <% end %>


<main class='content'>
  <body>
    <%=yield%>
  </body>

</main>

  <footer class="footer">
      <p>Copyright Yumee | Bibek | Steven | Kasia | Wendy</p>
  </footer>

</html>
