<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <div class="login_logout">
    <div id="menuToggle">
      <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">
      <!-- <img src="http://pixsector.com/cache/f5c37214/av089223b78f583a8e8d6.png" width= '75px' alt=""> -->
     </a>
   </div>

  <% if current_user %>
    | <%= link_to('Logout', destroy_user_session_path, :method => :delete)%></p>
  <%elsif%>
  <p> <%=link_to('Login', new_user_session_path)%>
  |
   <%=link_to('Sign Up', new_user_registration_path)%></p>

  <%end%>
    </div>
    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
    <% end %>

</html>
