<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <div class="login_logout">
    <div id="menuToggle">
      <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">
      <!-- <img src="http://pixsector.com/cache/f5c37214/av089223b78f583a8e8d6.png" width= '75px' alt=""> -->
     </a>
   </div>

   <% if current_user %>
   <p>Hello <%= current_user.first_name %> | <%=link_to('Logout', destroy_user_session_path, :method => :delete)%></p>
   <%elsif%>
   <p>Hello Guest!
   |
     <%=link_to('Sign Up', new_user_registration_path)%>
   |
     <%=link_to('Login', new_user_session_path)%>
  </p>

   <%end%>
     </div>
     <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">

          <li>
            <% if current_user %>
            <%=image_tag(current_user.picture, class:'profile_image')%>
            <p><%=current_user.first_name%> <%=current_user.last_name%></p>
              <%end%>
          </li>

            <li class="sidebar-brand">
                <a href="#">
                    Oinker
                </a>
            </li>
            <li>
                <%=link_to('Home', root_path)%>
            </li>
            <li>
                <%=link_to('Browse', welcome_trending_path)%>
            </li>
            <li>
                <%=link_to('Search', welcome_choice_path)%>
            </li>
            <li>
                <%=link_to('Home', root_path)%><a href="#">About</a>
            </li>
            <li>
                <%=link_to('Home', root_path)%><a href="#">FAQ</a>
            </li>
            <li>
                <%=link_to('Home', root_path)%><a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Legal</a>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
     <% if flash[:notice] %>
     <div class="notice"><%= flash[:notice] %></div>
     <% end %>


   <body>
     <%=yield%>
   </body>

 </html>
